body {
    background-color: #ece4e4;
    font: 400 17px/22px 'Bebas Neue';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__span {
    margin-right: 15px;
    font-size: 20px;
    color: rgb(43, 12, 72);
}

.id__input {
    height: 30px;
    background-color: transparent;
    border: 2px solid blueviolet;
    outline: none;
    box-sizing: border-box;
}

.input__btn {
    font: 16px 'Bebas Neue';
    height: 30px;
    color: aliceblue;
    background-color: blueviolet;
    border-color: blueviolet;
    border-style: solid;
    border-left: 2px;
    transition: all 0.2s ease-in-out;
}

.input__btn:hover {
    background-color: transparent;
    color: blueviolet;
}

.btn__comment {
    display: none;
    font: 16px 'Bebas Neue';
    height: 30px;
    color: aliceblue;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    transition: all 0.2s ease-in-out;
}

.btn__comment:hover {
    background-color: transparent;
    color: blueviolet;
}

.btn__comment-active {
    display: block;
}