.nav_bar__btn {
    background: transparent;
    border: 1px solid teal;
    padding: 5px;
    border-radius: 2px;
    margin: 10px;
    cursor: pointer;
    &:hover {
        background: teal;
        transition: all ease-in-out 0.3s;
    }
} 